/* Tainacan Items list customization */
.theme-items-list,
.tainacan-modal,
.tainacan-tooltip {
    /* --tainacan-secondary: #eb4200;
    --tainacan-primary: #ffefbc;
    --tainacan-yellow1: #ffefbc;
    --tainacan-warning: #ffefbc;
    --tainacan-success: #3c5102;
    --tainacan-input-color: #191919;
    --tainacan-item-hover-background-color: #f9f9f9;
    --tainacan-item-heading-hover-background-color: #f2f2f2;
    --tainacan-font-family: Montserrat,sans-serif;
    --tainacan-base-font-size: 1.125em; */
}