/* Tainacan Items list customization */
.theme-items-list,
.tainacan-modal,
.tainacan-tooltip {
    --tainacan-background-color: #DDDAD3;
    --tainacan-secondary: #AF3C20;
    --tainacan-font-family: Kobel, sans-serif;
    --tainacan-primary: rgba(209,204,189,0.9);
    --tainacan-black: var(--tainacan-secondary, #AF3C20);
    --tainacan-white: var(--tainacan-background-color, #DDDAD3);
    --tainacan-yellow1:  var(--tainacan-background-color, #DDDAD3);
    --tainacan-yellow2: var(--tainacan-secondary, #AF3C20);
    --tainacan-warning:  var(--tainacan-background-color, #DDDAD3);
    --tainacan-success: var(--tainacan-secondary, #AF3C20);
    --tainacan-gray1: var(--tainacan-background-color, #DDDAD3);
    --tainacan-gray4: var(--tainacan-secondary, #AF3C20);
    --tainacan-gray5: var(--tainacan-secondary, #AF3C20);
    --tainacan-label-color: var(--tainacan-secondary, #AF3C20);
    --tainacan-info-color: var(--tainacan-secondary, #AF3C20);
    --tainacan-heading-color: var(--tainacan-secondary, #AF3C20);
    --tainacan-input-color: var(--tainacan-secondary, #AF3C20);
    --tainacan-input-background-color: var(--tainacan-background-color, #DDDAD3);
    --tainacan-input-border-color: var(--tainacan-secondary, #AF3C20);
    --tainacan-item-hover-background-color: rgba(209,204,189,0.9);
    --tainacan-item-heading-hover-background-color:rgba(209,204,189,0.9);
    --tainacan-skeleton-color: rgba(209,204,189,0.9);
    --tainacan-base-font-size: 1em; 
    --tainacan-one-column: 2rem;
    --tainacan-container-padding: 2rem;
    --tainacan-filter-menu-width-theme: 368px;
}
.tainacan-tooltip {
    --tainacan-base-font-size: 1.5em;
    font-size: 1.5em !important;
    font-weight: bold;
}
.tainacan-modal {
    --tainacan-base-font-size: 1.5em;
    font-weight: bold;
}
.tainacan-modal.filters-menu {
    --tainacan-base-font-size: 1.0em;
}
.theme-items-list:not(.tainacan-modal) {
    display: grid;
    grid-template-areas: 'control items' 'filters items';
    grid-template-rows: auto;
    grid-template-columns: 368px calc(100% - 368px);
    grid-auto-rows: min-content;
}
@media screen and (max-width: 1024px) {
    .theme-items-list,
    .tainacan-modal {
        --tainacan-filter-menu-width-theme: 100%;
    }
    .theme-items-list:not(.tainacan-modal) {
        display: flex;
    }
    .theme-items-list .faceted-search-hook-search-control-before,
    .tainacan-modal .search-control-item--search,
    .theme-items-list .search-control-item--search,
    .tainacan-modal .search-area,
    .theme-items-list .search-area {
        width: 100% !important;
        max-width: 100% !important;
        display: block !important;
    }
    .theme-items-list #items-list-results {
        padding-top: 0 !important;
    }
}
.theme-items-list:not(.tainacan-modal) .search-control {
    grid-area: control;
    text-transform: lowercase;
    padding-top: 0px;
    padding-left: 0;
    padding-bottom: 0px;
}
.theme-items-list:not(.tainacan-modal) .filters-menu {
    grid-area: filters;
    max-width: 100% !important;
}
.theme-items-list:not(.tainacan-modal) .items-list-area {
    grid-area: items;
    max-width: 100% !important;
}
.tainacan-modal #filters-modal .modal-content,
.theme-items-list #filters-modal .modal-content {
    padding: 0 var(--tainacan-one-column, 2rem) !important;
    text-transform: lowercase;
}
@media screen and (max-width: 768px) {
    .tainacan-modal #filters-modal .modal-content,
    .theme-items-list #filters-modal .modal-content {
        padding: var(--tainacan-one-column, 2rem) !important;
    }
}
.theme-items-list .field.has-addons {
    align-items: center;
}
.tainacan-modal .icon,
.theme-items-list .icon {
    width: 1.875rem;
}
.theme-items-list .search-control .search-control-item {
    margin-left: 0px !important; 
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.theme-items-list .search-control .search-control-item:not(.search-control-item--search) {
    font-size: 0.875em;
    padding-left: 1.75rem !important;
    padding-right: 0rem !important;
    margin-bottom: 0.25rem;
    max-width: 100%;
}
.theme-items-list .search-control .search-control-item.search-control-item--search {
    width: 100%;
}
.theme-items-list .search-control .search-control-item.search-control-item--search::after {
    content: "Filtros";
    display: block;
    margin-top: 1rem;
    margin-left: 1.75rem;
    font-size: 1.875rem;
    font-weight: bold;
    text-transform: capitalize;
}
.tainacan-modal .search-area,
.theme-items-list .search-area {
    min-width: 100% !important;
}
.tainacan-modal .search-area input.input,
.theme-items-list .search-area input.input {
    padding-top: 0.45em !important;
    padding-bottom: 0.45em !important;
}
.tainacan-modal input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger),
.tainacan-modal input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger):hover,
.tainacan-modal input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger):active,
.tainacan-modal input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger):focus,
.tainacan-modal input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger):focus-within,
.theme-items-list input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger),
.theme-items-list input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger):hover,
.theme-items-list input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger):active,
.theme-items-list input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger):focus,
.theme-items-list input.input:not([type="checkbox"]):not([type="radio"]):not(.is-danger):focus-within {
    border-width: 4px !important;
    border-color: initial !important;
}
.tainacan-modal .b-checkbox.checkbox input[type="checkbox"] + .check,
.theme-items-list .b-checkbox.checkbox input[type="checkbox"] + .check {
    border-radius: 0px !important;
    border-width: 2px !important;
}
.theme-items-list .pagination-area .pagination .icon .mdi-chevron-left::before {
    content: "previous" !important;
    font-size: 1.5rem !important;
}
.theme-items-list .pagination-area .pagination .icon .mdi-chevron-right::before,
.tainacan-modal .tainacan-icon-arrowright::before,
.theme-items-list .tainacan-icon-arrowright::before {
    content: "next" !important;
    font-size: 1.5rem !important;
}
.tainacan-modal .dropdown .dropdown-menu .dropdown-content,
.theme-items-list .dropdown .dropdown-menu .dropdown-content {
    padding-bottom: 0px !important;
}
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header),
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header),
.tainacan-modal .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header),
.tainacan-modal .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header),
.tainacan-modal .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header),
.tainacan-modal .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header),
.theme-items-list .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header),
.theme-items-list .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header),
.theme-items-list .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header),
.theme-items-list .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header),
.theme-items-list .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header),
.theme-items-list .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header) {
    font-weight: bold;
}
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover,
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover,
.tainacan-modal .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover,
.tainacan-modal .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover,
.theme-items-list .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover,
.theme-items-list .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover,
.theme-items-list .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover,
.theme-items-list .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover,
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover .gray-icon,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover .gray-icon,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover .gray-icon,
.theme-items-list .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover .gray-icon,
.theme-items-list .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover .gray-icon,
.theme-items-list .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover .gray-icon,
.theme-items-list .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover .gray-icon {
    color: var(--tainacan-background-color, #DDDAD3) !important;
    --tainacan-info-color: var(--tainacan-background-color, #DDDAD3) !important;
}
.tainacan-modal .tainacan-icon-arrowdown::before,
.theme-items-list .tainacan-icon-arrowdown::before {
    content: "next";
    rotate: 90deg;
    font-size: 1.5rem !important;
    margin-top: -5px;
}
.tainacan-modal .filter-tags-list,
.theme-items-list .filter-tags-list  {
    padding-top: 2rem !important;
    display: block !important;
    padding-left: 0px !important;
    padding-top: 1.35rem !important;
    padding-right: 0px !important;
    padding-bottom: 1.2rem !important;
}
.tainacan-modal .filter-tags-list .filter-tags-info,
.theme-items-list .filter-tags-list .filter-tags-info {
    display: block !important;
    margin-bottom: 1rem !important;
}
.theme-items-list .filter-tags-list .filter-tags-info a {
    text-decoration: underline;
}
.tainacan-modal .filter-tags-list .swiper ul.swiper-wrapper,
.theme-items-list .filter-tags-list .swiper ul.swiper-wrapper {
    padding-bottom: 2px;
}
.tainacan-modal .filter-tags-list .filter-tag .filter-tag-metadatum-name,
.theme-items-list .filter-tags-list .filter-tag .filter-tag-metadatum-name {
    display: none;
}
.tainacan-modal .filter-tags-list .filter-tag,
.theme-items-list .filter-tags-list .filter-tag {
    border-radius: 0px !important;
    border-width: 2px !important;
    margin-right: 1.5rem !important
}
.tainacan-modal .filter-tags-list .filter-tag:not(.is-readonly),
.theme-items-list .filter-tags-list .filter-tag:not(.is-readonly) {
    padding-left: 2rem !important;
}
.tainacan-modal .filter-tags-list .filter-tag.is-readonly,
.theme-items-list .filter-tags-list .filter-tag.is-readonly {
    display: none;
    visibility: hidden;
}
.tainacan-modal .filter-tags-list .filter-tag .filter-tag-metadatum-value,
.theme-items-list .filter-tags-list .filter-tag .filter-tag-metadatum-value {
    font-weight: bold !important;
    font-size: 1.375rem !important;
}
.tainacan-modal .filter-tags-list .filter-tag .is-delete,
.theme-items-list .filter-tags-list .filter-tag .is-delete {
    border-radius: 0px !important;
    left: 0px;
    height: 1.75rem;
    width: 1.75rem;
}
.tainacan-modal .filter-tags-list .filter-tag .is-delete:hover,
.theme-items-list .filter-tags-list .filter-tag .is-delete:hover {
    background-color: var(--tainacan-background-color);
}
.tainacan-modal .filter-tags-list .filter-tag .is-delete::before,
.theme-items-list .filter-tags-list .filter-tag .is-delete::before {
    height: 2px !important;
}
.tainacan-modal .filter-tags-list .filter-tag .is-delete::after,
.theme-items-list .filter-tags-list .filter-tag .is-delete::after {
    width: 2px !important;
}
.filter-tags-list .swiper .swiper-button-next,
.filter-tags-list .swiper .swiper-button-prev {
    top: 1.5rem !important;
}
.tainacan-modal .control.has-icons-right .icon .mdi-magnify::before,
.theme-items-list .control.has-icons-right .icon .mdi-magnify::before {
    color: var(--tainacan-secondary, #AF3C20) !important;
    font-size: 1.875rem !important;
    transform: rotate(90deg);
}
.tainacan-modal .search-control .dropdown-trigger .icon, 
.theme-items-list .search-control .dropdown-trigger .icon {
    font-size: 0.6875em;
}
.tainacan-modal .search-control .dropdown-trigger .button span:not(.icon), 
.theme-items-list .search-control .dropdown-trigger .button span:not(.icon) {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 1rem);
}
.theme-items-list .label,
.tainacan-modal .label,
.theme-items-list .input,
.tainacan-modal .input,
.theme-items-list .button,
.tainacan-modal .button,
.theme-items-list .filter-tags-list,
.tainacan-modal .filter-tags-list,
.theme-items-list .collapse-all__text,
.tainacan-modal .collapse-all__text,
.theme-items-list .collapse-label,
.tainacan-modal .collapse-label,
.theme-items-list .checkbox-label-text,
.tainacan-modal .checkbox-label-text,
.theme-items-list .pagination-link,
.tainacan-modal .pagination-link {
    border-radius: 0px !important;
    font-weight: bold !important;
}

.theme-items-list #filters-items-list button.collapse-all,
.theme-items-list #filters-items-list .collection-name,
.theme-items-list #filters-items-list hr,
.theme-items-list #filters-items-list br, 
.theme-items-list .search-control .gray-icon:empty {
    display: none;
    visibility: hidden;
}
.theme-items-list #filters-items-list #filters-label-landmark {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.theme-items-list #filters-items-list .checkbox {
    font-size: 0.75em !important;
}
.tainacan-modal #filters-items-list .collapse-content,
.theme-items-list #filters-items-list .collapse-content {
    padding-left: 2.25rem;
    margin-top: 0px;
}
.theme-items-list #filters-items-list .filter-item-forms:not(:last-child) {
    margin-bottom: 0px !important;
}

/* Checkobxes have special style */
.theme-items-list .search-control .b-checkbox.checkbox {
	display: flex;
}
.tainacan-modal .tainacan-form input[type="checkbox"]:checked + span + .control-label,
.theme-items-list input[type="checkbox"]:checked + span + .control-label,
.tainacan-modal .tainacan-form input[type="checkbox"]:checked + span + .control-label .checkbox-label-text,
.theme-items-list input[type="checkbox"]:checked + span + .control-label .checkbox-label-text {
	--tainacan-input-color: var(--tainacan-secondary);
	color: var(--tainacan-secondary);
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
	background-image: url('../images/icons/ICONES_checkbox.svg') !important;
	background-color: transparent !important;
	background-repeat: no-repeat !important;
	background-size: 16px 16px !important;
	width: 16px;
	height: 16px;
	border: none;
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"] + .check,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"] + .check,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + .check,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"] + .check {
	width: 16px;
	height: 16px;
	border-radius: 3px;
	margin-top: -1px;
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.tainacan-modal .tainacan-form .checkbox-label-text,
.theme-items-list .checkbox-label-text {
	line-height: 1.875em !important;
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::after,
.theme-items-list .b-checkbox.checkbox input[type="checkbox"]:checked + .check::after {
	display: none;
}
.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::before,
.theme-items-list .b-checkbox.checkbox input[type="checkbox"]:checked + .check::before {
	display: none;
}
.tainacan-modal .tainacan-form .tainacan-modal-checkbox-list-body .b-checkbox.checkbox {
	font-size: 1rem !important;
}
.tainacan-modal .tainacan-form .tainacan-modal-checkbox-list-body .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
	color: var(--tainacan-secondary) !important;
}

.theme-items-list .filter-tags-list+#items-list-results {
    padding-top: 0rem;
}
.theme-items-list #items-list-results {
    padding-top: 4.25rem;
}

.theme-items-list .pagination-area {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-top: 5px solid var(--tainacan-secondary) !important;
}
.theme-items-list .pagination-area .shown-items {
    font-weight: bold;
    text-transform: lowercase;
}

.tainacan-photoswipe-layer {
    --pswp-icon-color-secondary: var(--tainacan-background-color, #dddad3);
    --pswp-icon-stroke-color: var(--tainacan-background-color, #dddad3);
}
.tainacan-modal .modal-card {
    border-radius: 0px !important;
}
.tainacan-modal .modal-card .alert-dialog-title {
    text-transform: uppercase !important;
    font-weight: bold !important;
}
.theme-items-list .has-text-warning {
    color: var(--tainacan-secondary) !important
}
.theme-items-list .metadata-alert {
    margin-left: 0;
    margin-right: 0;

}