/* Remaining imports */

/* Tainacan Items list customization */

.theme-items-list,
.tainacan-modal,
.tainacan-tooltip {
  --tainacan-background-color: #DDDAD3;
  --tainacan-secondary: #AF3C20;
  --tainacan-font-family: Kobel, sans-serif;
  --tainacan-primary: rgba(209,204,189,0.9);
  --tainacan-black: var(--tainacan-secondary, #AF3C20);
  --tainacan-white: var(--tainacan-background-color, #DDDAD3);
  /* --tainacan-yellow1: #ffefbc;
    --tainacan-warning: #ffefbc;
    --tainacan-success: #3c5102; */
  --tainacan-gray4: var(--tainacan-secondary, #AF3C20);
  --tainacan-gray5: var(--tainacan-secondary, #AF3C20);
  --tainacan-label-color: var(--tainacan-secondary, #AF3C20);
  --tainacan-info-color: var(--tainacan-secondary, #AF3C20);
  --tainacan-heading-color: var(--tainacan-secondary, #AF3C20);
  --tainacan-input-color: var(--tainacan-secondary, #AF3C20);
  --tainacan-input-background-color: var(--tainacan-background-color, #DDDAD3);
  --tainacan-input-border-color: var(--tainacan-secondary, #AF3C20);
  --tainacan-item-hover-background-color: rgba(209,204,189,0.9);
  --tainacan-item-heading-hover-background-color:rgba(209,204,189,0.9);
  --tainacan-skeleton-color: rgba(209,204,189,0.9);
  --tainacan-base-font-size: 1em;
  --tainacan-one-column: 2rem;
  --tainacan-container-padding: 2rem;
}

.theme-items-list:not(.tainacan-modal) {
  display: grid;
  grid-template-areas: 'control items' 'filters items';
  grid-template-rows: auto;
  grid-template-columns: 20% 80%;
  grid-auto-rows: min-content;
}

.theme-items-list:not(.tainacan-modal) .search-control {
  grid-area: control;
  text-transform: lowercase;
  padding-top: 0px;
  padding-bottom: 0px;
}

.theme-items-list:not(.tainacan-modal) .filters-menu {
  grid-area: filters;
  max-width: 100% !important;
}

.theme-items-list:not(.tainacan-modal) .items-list-area {
  grid-area: items;
  max-width: 100% !important;
}

.tainacan-modal #filters-modal .modal-content,
.theme-items-list #filters-modal .modal-content {
  padding: 0 var(--tainacan-one-column, 2rem) !important;
}

@media screen and (max-width: 768px) {
  .tainacan-modal #filters-modal .modal-content,
    .theme-items-list #filters-modal .modal-content {
    padding: var(--tainacan-one-column, 2rem) !important;
  }
}

.theme-items-list .field.has-addons {
  align-items: center;
}

.tainacan-modal .icon,
.theme-items-list .icon {
  width: 2rem;
}

.tainacan-modal .search-area input.input[type="search"]:not(.is-danger),
.tainacan-modal .search-area input.input[type="search"]:not(.is-danger):hover,
.tainacan-modal .search-area input.input[type="search"]:not(.is-danger):active,
.tainacan-modal .search-area input.input[type="search"]:not(.is-danger):focus,
.tainacan-modal .search-area input.input[type="search"]:not(.is-danger):focus-within,
.theme-items-list .search-area input.input[type="search"]:not(.is-danger),
.theme-items-list .search-area input.input[type="search"]:not(.is-danger):hover,
.theme-items-list .search-area input.input[type="search"]:not(.is-danger):active,
.theme-items-list .search-area input.input[type="search"]:not(.is-danger):focus,
.theme-items-list .search-area input.input[type="search"]:not(.is-danger):focus-within {
  border-width: 4px !important;
  border-color: initial !important;
}

.tainacan-modal .b-checkbox.checkbox input[type="checkbox"] + .check,
.theme-items-list .b-checkbox.checkbox input[type="checkbox"] + .check {
  border-radius: 0px !important;
  border-width: 2px !important;
}

.theme-items-list .pagination-area .pagination .icon .mdi-chevron-left::before {
  content: "previous" !important;
  font-size: 1.5rem !important;
}

.theme-items-list .pagination-area .pagination .icon .mdi-chevron-right::before,
.tainacan-modal .tainacan-icon-arrowright::before,
.theme-items-list .tainacan-icon-arrowright::before {
  content: "next" !important;
  font-size: 1.5rem !important;
}

.tainacan-modal .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header),
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header),
.tainacan-modal .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header),
.tainacan-modal .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header),
.tainacan-modal .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header),
.tainacan-modal .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header),
.theme-items-list .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header),
.theme-items-list .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header),
.theme-items-list .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header),
.theme-items-list .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header),
.theme-items-list .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header),
.theme-items-list .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header) {
  font-weight: bold;
}

.tainacan-modal .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover,
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover,
.tainacan-modal .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover,
.tainacan-modal .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover,
.theme-items-list .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover,
.theme-items-list .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover,
.theme-items-list .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover,
.theme-items-list .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover,
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover .gray-icon,
.tainacan-modal .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover .gray-icon,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover .gray-icon,
.theme-items-list .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover .gray-icon,
.theme-items-list .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover .gray-icon,
.theme-items-list .autocomplete .dropdown-menu .dropdown-content .dropdown-item:not(.dropdown-header):hover .gray-icon,
.theme-items-list .autocomplete .dropdown .dropdown-menu .dropdown-content .has-link a:not(.dropdown-header):hover .gray-icon,
.theme-items-list .autocomplete .dropdown .dropdown-menu .has-link .dropdown-content a:not(.dropdown-header):hover .gray-icon {
  color: var(--tainacan-background-color, #DDDAD3) !important;
  --tainacan-info-color: var(--tainacan-background-color, #DDDAD3) !important;
}

.tainacan-modal .tainacan-icon-arrowdown::before,
.theme-items-list .tainacan-icon-arrowdown::before {
  content: "next";
  rotate: 90deg;
}

.tainacan-modal .filter-tags-list .swiper ul.swiper-wrapper,
.theme-items-list .filter-tags-list .swiper ul.swiper-wrapper {
  padding-bottom: 2px;
}

.tainacan-modal .filter-tags-list .filter-tag,
.theme-items-list .filter-tags-list .filter-tag {
  border-radius: 0px !important;
  border-width: 2px !important;
}

.filter-tags-list .swiper .swiper-button-next,
.filter-tags-list .swiper .swiper-button-prev {
  top: 1.5rem !important;
}

.tainacan-modal .control.has-icons-right .icon .mdi-magnify::before,
.theme-items-list .control.has-icons-right .icon .mdi-magnify::before {
  color: var(--tainacan-secondary, #AF3C20) !important;
  font-size: 1.875rem !important;
  transform: rotate(90deg);
}

.tainacan-modal .search-control .dropdown-trigger .icon, 
.theme-items-list .search-control .dropdown-trigger .icon {
  font-size: 0.6875em;
}

.theme-items-list .label,
.tainacan-modal .label,
.theme-items-list .input,
.tainacan-modal .input,
.theme-items-list .button,
.tainacan-modal .button,
.theme-items-list .filter-tags-list,
.tainacan-modal .filter-tags-list,
.theme-items-list .collapse-all__text,
.tainacan-modal .collapse-all__text,
.theme-items-list .collapse-label,
.tainacan-modal .collapse-label,
.theme-items-list .checkbox-label-text,
.tainacan-modal .checkbox-label-text,
.theme-items-list .pagination-link,
.tainacan-modal .pagination-link {
  font-weight: bold !important;
}

.theme-items-list #filters-items-list button.collapse-all,
.theme-items-list #filters-items-list .collection-name,
.theme-items-list #filters-items-list hr,
.theme-items-list .search-control .gray-icon:empty {
  display: none;
  visibility: hidden;
}

.theme-items-list #filters-items-list .checkbox {
  font-size: 0.75em !important;
}

/* Checkobxes have special style */

.theme-items-list .search-control .b-checkbox.checkbox {
  display: flex;
}

.tainacan-modal .tainacan-form input[type="checkbox"]:checked + span + .control-label,
.theme-items-list input[type="checkbox"]:checked + span + .control-label,
.tainacan-modal .tainacan-form input[type="checkbox"]:checked + span + .control-label .checkbox-label-text,
.theme-items-list input[type="checkbox"]:checked + span + .control-label .checkbox-label-text {
  --tainacan-input-color: var(--tainacan-secondary);
  color: var(--tainacan-secondary);
}

.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"]:checked + .check,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
  background-image: url('../images/icons/ICONES_checkbox.svg') !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: 16px 16px !important;
  width: 16px;
  height: 16px;
  border: none;
}

.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"] + .check,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"] + .check,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + .check,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"] + .check {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  margin-top: -1px;
}

.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.theme-items-list .field .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.tainacan-modal .tainacan-form .control .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.theme-items-list .control .b-checkbox.checkbox input[type="checkbox"] + span + .control-label,
.tainacan-modal .tainacan-form .checkbox-label-text,
.theme-items-list .checkbox-label-text {
  line-height: 1.875em !important;
}

.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::after,
.theme-items-list .b-checkbox.checkbox input[type="checkbox"]:checked + .check::after {
  display: none;
}

.tainacan-modal .tainacan-form .b-checkbox.checkbox input[type="checkbox"]:checked + .check::before,
.theme-items-list .b-checkbox.checkbox input[type="checkbox"]:checked + .check::before {
  display: none;
}

.tainacan-modal .tainacan-form .tainacan-modal-checkbox-list-body .b-checkbox.checkbox {
  font-size: 1rem !important;
}

.tainacan-modal .tainacan-form .tainacan-modal-checkbox-list-body .b-checkbox.checkbox input[type="checkbox"]:checked + .check {
  color: var(--tainacan-secondary) !important;
}

.theme-items-list .pagination-area {
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-top: 5px solid var(--tainacan-secondary) !important;
}

/* Single Items page */

.tainacan-items-single-page {
  --tainacan-background-color: rgba(209,204,189,var(--tw-bg-opacity));
  --tainacan-secondary: var(--section-color, #AF3C20);
  --tainacan-font-family: Kobel, sans-serif;
  --tainacan-primary: rgba(209,204,189,0.9);
}

.tainacan-media-component__swiper-main .swiper-slide-content img {
  margin: 0 auto;
}

.tainacan-items-single-page section .tainacan-item-section__metadatum {
  margin-bottom: 0.5rem;
}

/* Custom css for some of the Tainacan Single item Section */

.tainacan-items-single-page section {
  padding-top: 1.5rem;
  padding-bottom: 1.0rem;
}

.tainacan-items-single-page section:not(:last-child) {
  border-bottom: 5px solid var(--section-color, #AF3C20);
}

/* Seção principal do Acervo online */

.tainacan-items-single-page section.metadata-section-slug-default_section {
  font-weight: bold;
  font-size: 1.375rem;
  /* 22px */
  border-bottom: none;
}

.tainacan-items-single-page section.metadata-section-slug-default_section .tainacan-metadata-label {
  visibility: visible;
  display: none;
}

@media screen and (min-width: 769px) {
  .tainacan-items-single-page section.metadata-section-slug-default_section .tainacan-item-section__metadatum:first-child {
    font-size: 2rem;
  }
}

/* Seção de créditos do Acervo online */

.tainacan-items-single-page section.metadata-section-slug-creditos {
  font-size: 1.375rem;
  /* 22px */
}

.tainacan-items-single-page section.metadata-section-slug-creditos .tainacan-metadata-label {
  text-transform: lowercase;
  display: inline;
  margin-right: 0.25rem;
}

.tainacan-items-single-page section.metadata-section-slug-creditos .tainacan-metadata-label::after {
  content: ':';
  display: inline-block;
}

.tainacan-items-single-page section.metadata-section-slug-creditos .tainacan-metadata-value {
  display: inline;
}

/* Seção de classificação do Acervo online */

.tainacan-items-single-page section.metadata-section-slug-secao-de-classificacao-do-acervo-online {
  font-weight: bold;
  font-size: 1.5rem;
  /* 24px */
  text-transform: uppercase;
}

.tainacan-items-single-page section.metadata-section-slug-secao-de-classificacao-do-acervo-online .tainacan-metadata-label {
  visibility: visible;
  display: none;
}

/* Seção de descrição do Acervo online */

.tainacan-items-single-page section.metadata-section-slug-secao-de-descricao-do-acervo-online {
  font-size: 1.375rem;
  /* 22px */
  max-height: 100%;
  overflow-y: auto;
}

.tainacan-items-single-page section.metadata-section-slug-secao-de-descricao-do-acervo-online .tainacan-metadata-label {
  font-weight: normal;
  text-transform: uppercase;
}

.tainacan-items-single-page section.metadata-section-slug-secao-de-descricao-do-acervo-online .tainacan-metadata-value {
  font-weight: bold;
}

/* Overrides some of .grid masonry forced styles */

.tainacan-item-section--items-related-to-this ul.grid {
  margin-top: 1.25rem;
  margin-left: 0px;
}

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */

/* ! tailwindcss v3.2.4 | MIT License | https://tailwindcss.com */

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Kobel, Helvetica, Arial, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.top-\[50px\] {
  top: 50px;
}

.bottom-0 {
  bottom: 0px;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mt-0\.5 {
  margin-top: 0.125rem;
}

.mb-0\.5 {
  margin-bottom: 0.125rem;
}

.mt-0 {
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-3 {
  margin-right: 0.75rem;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mt-4 {
  margin-top: 1rem;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.h-12 {
  height: 3rem;
}

.w-\[10px\] {
  width: 10px;
}

.w-\[7px\] {
  width: 7px;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.max-w-\[218px\] {
  max-width: 218px;
}

.max-w-\[798px\] {
  max-width: 798px;
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.list-none {
  list-style-type: none;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-9 {
  gap: 2.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.self-start {
  align-self: flex-start;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.border-4 {
  border-width: 4px;
}

.border-5 {
  border-width: 5px;
}

.border-b-5 {
  border-bottom-width: 5px;
}

.border-t-\[5px\] {
  border-top-width: 5px;
}

.border-ob-red {
  --tw-border-opacity: 1;
  border-color: rgb(175 60 32 / var(--tw-border-opacity));
}

.border-\[var\(--section-color\)\] {
  border-color: var(--section-color);
}

.border-b-\[var\(--section-color\)\] {
  border-bottom-color: var(--section-color);
}

.bg-\[var\(--background-color\)\] {
  background-color: var(--background-color);
}

.fill-\[var\(--section-color\)\] {
  fill: var(--section-color);
}

.p-3\.5 {
  padding: 0.875rem;
}

.p-3 {
  padding: 0.75rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-3\.5 {
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.text-center {
  text-align: center;
}

.font-kobel {
  font-family: Kobel;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[55px\] {
  font-size: 55px;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.leading-\[1\.05\] {
  line-height: 1.05;
}

.text-\[var\(--section-color\)\] {
  color: var(--section-color);
}

.text-ob-red {
  --tw-text-opacity: 1;
  color: rgb(175 60 32 / var(--tw-text-opacity));
}

/**
  * Use this directive to control where Tailwind injects the hover, focus,
  * responsive, dark mode, and other variants of each class.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */

@media (min-width: 768px) {
  .md\:mr-14 {
    margin-right: 3.5rem;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:w-1\/3 {
    width: 33.333333%;
  }

  .md\:shrink-0 {
    flex-shrink: 0;
  }

  .md\:grow {
    flex-grow: 1;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:self-auto {
    align-self: auto;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1024px) {
  .lg\:mr-16 {
    margin-right: 4rem;
  }

  .lg\:w-\[9px\] {
    width: 9px;
  }
}

@media (min-width: 1280px) {
  .xl\:mb-0 {
    margin-bottom: 0px;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }
}

@media (min-width: 1536px) {
  .\32xl\:mb-0 {
    margin-bottom: 0px;
  }

  .\32xl\:mr-20 {
    margin-right: 5rem;
  }

  .\32xl\:w-\[11px\] {
    width: 11px;
  }
}

/* Tainacan Gutenberg Blocks colors */

:root {
  --tainacan-block-primary: #AF3C20;
  --tainacan-block-secondary: #dddad3;
  --tainacan-lightbox-text-color: #AF3C20;
  --tainacan-lightbox-background: #dddad3;
}